.NavBar input{
    height: 11px;
}

.header-container{
    background: black;
    color: white;
    height: 75px;
    width: 100%;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-container{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    align-items: center;
    padding-left: 15px;
    /* height:24px; */
}

.title-container img{
    margin-left: 10px;
    height:24px;
    width: auto;
}

.add-container{
    background:#0692C3;
    font-size: 14px;
    color: white;
    height: 30px;
    width: 100%;
    margin-top: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border-bottom: 1px solid black; */
}

.add-item{
    font-family: 'IBM Plex Sans', sans-serif;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.search-container{
    background:#0692C3;
    border-bottom: 1px dashed black;
    color: white;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.add-item select{
    width: 150px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 11px;
    font-weight: bold;
    border: 1px solid black;
}